/* defaults*/

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: gray
}
h1{
    font-family: Inter, sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #492140; 
    color: white;
    height: 57px;
    padding: 0px;
    width: 375px;
    margin: auto;
}
h6{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#CreateAccountButton{
    width: 327px;
    border-radius:8px;
    height: 56px;
    background-color: #DA1BB0;
    font-size: 18px;
    font-family: Inter, sans-serif;
    cursor: pointer;
   
}
.textBoxClass {
    width: 326px;
    height: 56px;
    border-radius:-1px;
    box-sizing: border-box;
    top: -2px;
    bottom: 2px;
    opacity: 0.50;
    border: 1px solid #171717;
    border-radius: 4px;
    margin: center;
    background-color:white;
}
h3{
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 315px;
    left: 5px;
    border-radius: 6px;
    padding: 20px;
    background-color: white;
}

#maincontainer {
    margin: auto;
    width: 375px;
    height: 667px;
    padding: 25px;
    background-color: white
}

#passwordError {
    color: red;
    background-color: white;
}

#hasAccount {
    background-color: white;
    text-align: center;
    padding: 10px
}